<status-bar></status-bar>
<navigation-bar>
	<div class="search">
		<input value="Sydney">
	</div>
	<button {{action (route-action "logout")}}>Logout</button>
	<!-- <ul class="collection-h">
		<li><a class="active">Latest reviews</a></li>
		<li><a>Announcements</a></li>
		<li><a>Most favourited burgers</a></li>
		<li><a>Most liked burgers</a></li>
		<li><a>Most disliked burgers</a></li>
	</ul> -->
</navigation-bar>
