{{#navigation/screen-container}}
	{{#navigation/screen-header}}
	{{link-to 'Reviews' 'reviews'}}
		<h1>{{model.item.name}}</h1>
		{{link-to 'Posts' 'posts' class="right"}}
	{{/navigation/screen-header}}
  <content>
    <h1>Post your fucking review bitch!</h1>
		{{link-to 'Reviews' 'reviews'}}
  </content>
{{/navigation/screen-container}}
